@import url(//fonts.googleapis.com/css?family=Roboto);

body {
	margin: 0;
	background-color: #f8f8f8;
	font-family: Roboto, sans-serif;
}

h2 {
	font-weight: normal;
	margin: 0;
}

img {
	display: block;
	width: 100%;
}

input,
textarea {
	outline: none;
}

.page {
	display: flex;
	min-height: 100vh;
  	flex-direction: column;
}

.header-content,
.content,
.section {
	margin-left: auto;
	margin-right: auto;
}

.header-content,
.content {
	width: 95%;
}

@media screen and (min-width: 1080px) {
	.header-content,
	.content {
		width: 960px;
	}
}

@media screen and (min-width: 720px) {
	.content {
		display: flex;
		justify-content: space-between;
	}

	.section-about-us,
	.section-camera {
		flex: 1;
	}

	.section-about-us:not(:last-child),
	.section-camera:not(:last-child) {
		margin-right: 15px;
	}

	.section-about-us:not(:first-child),
	.section-camera:not(:first-child) {
		margin-left: 15px;
	}
}

@media screen and (max-width: 719px) {
	.section:not(:last-child) {
		margin-bottom: 16px;
	}
}

.header,
.section {
	background-color: #fff;
}

.header {
	border-bottom: 1px #eee solid;
}

.logo {
	display: block;
	margin: 30px 0;
	width: 116px;
	height: 63px;
}

a,
.send {
	font-size: 14px;
	text-transform: uppercase;
}

nav {
	display: flex;
}

a:not(:first-child) {
	margin-left: 25px;
}
a:not(:last-child) {
	margin-right: 25px;
}

a {
	margin-bottom: -1px;
	padding: 10px 0;
	text-decoration: none;
	color: #111;
	border-bottom: 3px transparent solid;
}

a:hover {
	border-bottom-color: .ddd;
}

a.active {
	color: #e1915d;
	border-bottom-color: #e1915d;
}

.content {
	flex: 1;
	padding: 15px 0;
}

.section {
	align-self: flex-start;
	background-color: #fff;
	max-width: 640px;
	overflow: hidden;
}

.section,
.send {
	box-shadow: 0 0 5px 0 #999;
	border-radius: 3px;
}

.section,
.camera-image {
	animation: .5s fade-in;
}

.send {
	padding: 10px;
	color: #fff;
	background-color: #2196f3;
	border: none;
	float: right;
}

/* Section about us */
.about-us-title,
.about-us-text {
	margin-left: 16px;
	margin-right: 16px;
}

.about-us-title {
	margin-top: 16px;
	padding-bottom: 2px;
}

.about-us-text {
	margin-top: 0;
	padding-bottom: 16px;
}

/* Section camera */
.camera-date {
	display: block;
	padding-top: 16px;
	padding-right: 16px;
	text-align: right;
	color: #777;
}

.camera-title {
	margin-bottom: 8px;
	text-align: center;
}

/* Section contact */
.content-contact {
	display: flex;
}

.section-contact {
	align-self: center;
	padding: 75px;
	width: 30%;
}

.contact-input {
	display: block;
	width: 100%;
	margin-bottom: 10px;
	padding: 10px 0;
	box-sizing: border-box;
	border-width: 0 0 1px;
	border-color: #ddd;
	font: inherit;
}

textarea.contact-input {
	margin-top: 32px;
	resize: none;
	line-height: 1;
	height: 40px;
}

/* Footer */
.footer {
	padding: 20px 0;
	background-color: #282828;
}

.footer > p {
	margin: 15px auto;
	padding: 15px 0;
	width: 320px;
	border-top: 1px solid #787878;
	text-align: center;
	color: #787878;
}

@keyframes fade-in {
	0% {
		opacity: 0;
		filter: grayscale(1);
	}
}